html {
  background: rgb(38, 40, 79);
  min-height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@media (max-width: 400px) {
  h1, h2, h3 {
    &.title{
      font-size: 2.3em;
    }
  }
}

body {
  background:transparent;
  min-height:100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  line-height: 1.5em;
  font-size:14px;
  color:#fff;
  color:rgba(255,255,255,.8);
  font-weight: normal;
}


.nav > li > a:hover, .nav > li > a:focus {
  background: none;
  color: #E62C1C;
  outline: 0;
}

.nav > li > a.active {
    outline: 0;
    color: #E62C1C;
    &.home {
      color: inherit;
    }
}

.title.book {
    color: #E62C1C;
}

.panel {
  h1, h2, h3 {
    color: #E62C1C;
  }
  color: #fff;
  background: transparent;
}


#big-video-wrap {
  display: none;
  z-index: -1 !important;
}

.vjs-control-bar, .vjs-big-play-button, .vjs-loading-spinner, .vjs-text-track-display, .vjs-poster{
  display: none;
}



/********************************************************/
/*                    Navigation bar                    */
/********************************************************/
.nav > li {
  display: inline-block;
}

.mainmenu {
  width:100%;
}


/********************************************************/
/*             Sections - universal classes             */
/********************************************************/
.section {
  z-index: 1;
  min-height:420px;
  width: 100%;
  overflow:auto;
  height:100%;
  padding-bottom:50px;
  display:none;
  top:0;
}

/* Show one of sections */
#home {
  display: block;
  img {
    margin: 0 auto;
  }
}

#book{

  .submit {
    background: #E62C1C ;
    color: #fff;
  }
  .cta {
    color: #E62C1C;
  }
}

#about{
  iframe{
    @media (min-width: 768px) {
     height: 350px;
    }

  }
}

#connect{
  img{
    width: 100%;
  }
}

.runaround-link{
  margin: 40px 0 25px 0;
}


/********************************************************/
/*                      Typography                      */
/********************************************************/
a { color:#fff; text-decoration: none; }
a:hover, a:active { color:#fff; text-decoration: underline; }
.lead {
  font-weight:normal;
  font-size:1.5em;
  line-height:1.2em;
}

.title,
.subtitle {
  font-weight:normal;
  font-size:7em;
  margin-bottom:15px;
  color:#FDF9F4;
  line-height:1em;
}
.subtitle {
  line-height:.9em;
  font-size:5.5em;
  margin-top:0;
  margin-bottom:40px;
}
.tagline {
  font-size:1.4em;
  line-height:1.3em;
  font-weight:normal;
  margin-bottom:75px;
}

@media (max-width: 767px) {
  .lead {
    font-size:1.3em;
  }
}


/********************************************************/
/*                   UI - Buttons                       */
/********************************************************/
.btn{
  color:#333;
  text-shadow: none;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:0 none;
}
.btn:hover {
  color:#000;
}
.btn-lg {
  padding:16px 30px;
  font-size:inherit;
}

.btn-link {
  color:rgba(255,255,255,.8);
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
  color:#fff
}
.btn-default {
  background: rgba(255,255,255,.5);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  background: rgba(255,255,255,.8);
}
.btn-primary {
  background: rgba(255,255,255,.2);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active {
  background: rgba(255,255,255,.5);
}



//bg config
$num_rays: 20;
$incrementer: 180 / $num_rays;
$radius: 1800px;
$duration: 360s;

.sunburst {
  z-index: -2;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background: rgb(38, 40, 79);
}

.sunburst .outer {
  position: relative;
  right: $radius/2;
  -webkit-animation-name: rotate1;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-transform-origin: $radius 0;
  -moz-transform-origin: top right;
  -moz-animation-name: rotate1;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
}

.sunburst b {
  display: block;
  width: 0;
  height: 0;
  border-width: 90px $radius;
  margin: -180px 0 0 0;
  border-color: transparent #1C1545;
  border-style: solid;
}


@for $i from 1 through $num_rays{
  .sunburst b:nth-child(#{$i}) {
    -webkit-transform:rotate(#{$i * $incrementer}deg);
    -moz-transform:rotate(#{$i * $incrementer}deg);
  }
}


@-webkit-keyframes rotate1 {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotate1 {
  from { -moz-transform: rotate(0deg); }
  to   { -moz-transform: rotate(360deg); }
}

